html {
    background: black; color: white;
    --light: turquoise;
}
body {display: flex;}

figure {
    width: 30em; height: 30em;
    position: relative;

    &::before {
        content: '';
        position: absolute; inset: 0;
        z-index: -1;
        border-radius: 99em;
        background: conic-gradient(
            white 0 calc(90deg + var(--e,0)*1deg),
            silver calc(90deg + var(--e,0)*1deg) calc(180deg + var(--s,0)*1deg),
            white calc(180deg + var(--s,0)*1deg) calc(270deg + var(--w,0)*1deg),
            silver calc(270deg + var(--w,0)*1deg) 0
        );
        transform: rotate(calc(45deg + var(--r,0)*-1deg));
    }
}
svg {
    transform: rotate(-90deg);
    overflow: hidden;
    border-radius: 99em;

    text {
        font-size: .4px;
        text-anchor: middle;
        transform: rotate(90deg); transform-origin: 22.302px 114.174px;
    }
    path {
        stroke-width: .05; stroke: black;
        fill: none;

        &.hidden {display: none;}
    }
    #point {
        fill: brown;
    }
    &>circle {
        stroke: blue; stroke-width: .025;
        fill: none;
    }
}
tr {
    text-transform: uppercase;
    user-select: none;

    &::before {
        content: '⬜';
        pointer-events: none;
    }
    &.showing::before {
        content: '🔳';
    }
}
